@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;

  --color-brand-50: #ecf3ff;
  --color-brand-100: #dde9ff;
  --color-brand-500: #465fff;
  --color-brand-600: #3641f5;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #e4e7ec;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-700: #344054;
  --color-gray-900: #101828;
}

body {
  @apply bg-gray-50 text-gray-700 font-sans;
}
